backend/app/__pycache__
backend/.env
frontend/podcraft/node_modules
backend/.venv/
backend/venv/
backend/temp/*
backend/app/agents/__pycache__/
backend/temp_audio/*
!backend/temp_audio/Default/
!backend/temp_audio/Default/final_podcast.mp3
.DS_Store